html {
  font-size: 16px;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

header {
  box-shadow: 0 10px 18px -2px rgba(16, 24, 40, 0.05),
    0 4px 8px -2px rgba(16, 24, 40, 0.1);
}

.body {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: 1.2;
  color: $blackColor;
  overflow-x: hidden;
  height: 100%;
  min-width: 20rem;
  background: rgba(176, 181, 239, 0.15);
  background: radial-gradient(
    circle farthest-corner at center center,
    rgba(176, 181, 239, 0.15) 0%,
    #ffffff 100%
  );
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    rgba(176, 181, 239, 0.15) 0%,
    #ffffff 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    rgba(176, 181, 239, 0.15) 0%,
    #ffffff 100%
  );
  &--landing {
    background: none;
  }
  // font-variant-numeric: lining-nums;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

*::selection {
  color: $whiteColor;
  background: $accentColor;
}

.accent-block {
  border-radius: 32px;
  background: #ffffff;
  box-shadow: 0 2px 4px -2px rgba(16, 24, 40, 0.3),
    0 4px 8px -2px rgba(16, 24, 40, 0.1);
}

.accent-btn {
  background-color: #445082;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: #ffffff;
  transition: 0.3s all;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #2b3c6b;
  }

  &:disabled {
    background-color: #d5d6fd;
  }
}

.accent-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: #445082;
}

.accent-title-dark {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: #1d2e54;
}

.tooltip-icon:hover + .tooltip {
  display: block;
}

.tooltip::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -6px;
  right: 150px;
  width: 12px;
  height: 12px;
  rotate: 45deg;
  background-color: #ffffff;
}

.segments-tabs li {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 1px;
    height: 30px;
    background: #e6e6e7;
  }

  &:last-child::after {
    display: none;
  }
}

.burger-menu {
  box-shadow: inset 0 5px 5px rgba(16, 24, 40, 0.15);
  height: calc(100vh - 64px);
}

.white-shadow {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
  }
  &::before {
    left: 0;
    background: #ffffff;
    background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 90%);
    background: -webkit-linear-gradient(
      90deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 90%
    );
    background: -moz-linear-gradient(
      90deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 90%
    );
  }
  &::after {
    right: 0;
    background: #ffffff;
    background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 90%);
    background: -webkit-linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 90%
    );
    background: -moz-linear-gradient(
      270deg,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 90%
    );
  }
}

.left-blinking-text {
  animation: left-slide 120s linear infinite;
  @media (max-width: 640px) {
    animation: left-slide-mobile 120s linear infinite;
  }
}

.right-blinking-text {
  animation: right-slide 120s linear infinite;
  @media (max-width: 640px) {
    animation: right-slide-mobile 120s linear infinite;
  }
}

.submit-loader {
  animation: spin 1s linear infinite;
}
