@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes left-slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-200%);
  }
}

@keyframes left-slide-mobile {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-500%);
  }
}

@keyframes right-slide {
  0% {
    transform: translateX(-170%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes right-slide-mobile {
  0% {
    transform: translateX(-500%);
  }

  100% {
    transform: translateX(200%);
  }
}
